@layer theme {
	html {
		--theme--light: var(--theme, );
		--theme--dark: var(--theme, );
		--theme: var(--theme--light);
		color-scheme: var(--theme--light, light) var(--theme--dark, dark);
	}

	@media (prefers-color-scheme: dark) {
		html {
			--theme: var(--theme--dark);
		}
	}

	html[data-theme="light"] {
		--theme: var(--theme--light)
	}

	html[data-theme="dark"] {
		--theme: var(--theme--dark);
	}
}

@layer page {
	@media screen {
		html {
			background-color: var(--theme--light, white) var(--theme--dark, black);
		}
		
		body {
			filter: var(--theme--dark, invert(1) hue-rotate(180deg));
		}
	}

	::selection {
		background-color: black;
		color: white;
	}

	.isthisalogo {
		font-size: 2rem;
	}

	.form-group {
		margin: 0;
	}

	h1 {
		font-size: 3rem;
	}

	summary {
		cursor: pointer;
		font-size: 1.5rem;
	}

	.hero {
		display: grid;
		place-items: center;
		text-align: center;
	}

	p {
		max-inline-size: 60ch;
	}

	.paper-switch-2 input[type="checkbox"] {
		height: 1.5rem;
		width: unset;
		opacity: unset;
		appearance: none;
		border: none;
	}

	:focus-visible {
		outline: solid !important;
		outline-width: 3px;
		outline-offset: 2px;
	}

	hgroup {
		text-wrap: balance;
	}

	hgroup h1 {
		display: inline;
	}

	.permalink::after {
		content: "🔗";
		content: "🔗" / "";
		font-size: 1.5rem;
	}

	.paginator {
		display: flex;
		justify-content: center;
		gap: 12px;
	}

	.paginator a[aria-current="page"] {
		font-size: 1.25rem;
	}
}

@layer utilities {
	.white-space-preserve {
		white-space: pre-wrap;
	}

	.visually-hidden {
		clip-path: inset(50%) !important;
		white-space: nowrap !important;
		user-select: none !important;
		border: 0 !important;
		width: 1px !important;
		height: 1px !important;
		margin: -1px !important;
		position: absolute !important;
		overflow: hidden !important;
	}
}
